.app {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--header-text-color);
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: var(--header-color);
}

.back-button {
  cursor: pointer;
}

.app-header-title {
  flex-grow: 1;
  text-align: center;
}

.right-content {
  display: flex;
}

.right-content span {
  margin-left: 5px;
}

.icon-style {
  cursor: pointer;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.search-container {
  padding: 10px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  box-shadow: #878683 0 0 0 1px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  width: 48%;
  height: 100px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  cursor: pointer;
  border-color: var(--border-color);
  overflow: hidden;
}

.card-image {
  width: 80px;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-item {
  padding-top: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  cursor: pointer;
  border-color: var(--border-color)
}

.list-title {
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
}

.no-data {
  text-align: center;
  font-size: large;
  margin-top: 50px;
}

.font-slider-container {
  padding: 5px;
}

.font-slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 10px;
  background: var(--slider-color);
  outline: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.font-slider:hover {
  opacity: 1;
}

.font-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--text-color);
  cursor: pointer;
}

.font-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--text-color);
  cursor: pointer;
}

.paragarph-container {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 10px;
}

.line {
  font-weight: 500;
  line-height: 1.8;
  display: block;
}

.subheading-container {
  padding: 10px;
  background-color: var(--header-color);
  margin-bottom: 5px;
}

.subheading-text {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.list-header {
  align-self: center;
  padding: 15px;
}

.list-header-title {
  font-size: 18px;
  font-weight: bold;
}

.settings-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  padding: 15px;
}

.settings-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.settings-item-title {
  font-size: 16px;

}

.settings-item-subtitle {
  font-size: 12px;
  color: #878683;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--header-color);
  ;
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--header-color);
  ;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  height: fit-content;
  background-color: var(--modal-background);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;

}

.amounts-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
}

.amount {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 15px;
}

.money-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.money-input {
  font-size: 18px;
  border-color: #ccc;
  border-width: 2px;
  margin-bottom: 10px;

}

.payment-app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}

.payment-img {
  width: 45px;
  padding: 5px;
}

/* Optional: Add styles for close button */
.modal-content button {
  background-color: var(--header-color);
  color: var(--header-text-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* Show the modal when it's active */
.modal.active {
  display: flex;
}

.notSupported {
  text-align: center;
  padding: 20px;
}

.message {
  margin-top: 20px;
}

.message p {
  margin-bottom: 10px;
}

.message a {
  text-decoration: none;
  color: #007bff;
}


/* Coming Soon Container */
.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(to bottom right, #4c669f, #3b5998, #192f6a);
  color: #fff;
}

/* Coming Soon Text */
.coming-soon-text {
  text-align: center;
}

.coming-soon-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.coming-soon-text p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

/* Months Container */
.months-container {
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}



/* Events Container */
.events-container {
  padding: 1rem;
  overflow: hidden;
  transition: max-height 0.3s ease;
}


/* Event Card */
.event-card {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.event-date {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.event-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.event-time {
  color: #666;
}

/* No Events Container */
.no-events-container {
  padding: 1rem;
  text-align: center;
}

.no-events-text {
  color: #666;
  font-style: italic;
}

/* Month Header */
.month-header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.month-header:hover {
  background-color: #444;
}

.month-name {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Day Header */
.day-header {
  background-color: #334;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.day-header:hover {
  background-color: #444;
}

.day-name {
  font-size: 1rem;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  .month-header {
    padding: 0.8rem;
  }

  .month-name {
    font-size: 1rem;
  }

  .day-header {
    padding: 0.8rem;
  }

  .day-name {
    font-size: 1rem;
  }
}